[GENERAL]
tmdb_url_base = https://api.themoviedb.org/3
tmdb_api_key = 7357404c261cefb23312ded89a07353e
jellyseerr_url_base = http://jellyseerr.xander:5055/api/v1
jellyseerr_api_key = MTczMzk1ODYzMjQ4NjFlNDJkMTVlLWQ3MGEtNGQ5MC05ODkwLWU0M2JlZmQ4OWJmNQ==
timeout = 10
provider_list = ['Netflix basic with Ads', 'Hulu', 'Disney Plus', 'Amazon Prime Video', 'Max', 'Apple TV', 'Apple TV Plus']
config_path = deniarr.config
bind_address = 0.0.0.0
port = 5000

